

	<div class="event">
		<div class="content">
		  	<div class="summary">
		  		<div class="ui two column grid">

		  		<div class="four wide column">
		 			<i> the <%= message.user.username %>  said :</i>
		 		</div>
		  		<div class="six wide column">
		 			<%= message.body %> 
				</div>
				</div>
			<p></p>
		 	</div>
		</div>
	</div>

