https://github.com/udemyrailscourse/message_me

	<h1>Home#index</h1>
	<p>Find me in app/views/home/index.html.erb</p>


<h2 class="ui center aligned medium icon header">
  <i class="circular large violet coffee icon"></i>
  Say something for all
</h2>




<div class="ui two column grid">

<div class="twelve wide column">
	<div class="ui fluid raised card chatbox">
  		<div class="content">
			<div class="ui feed">


			  
<!-- 															create => _message.html.erb and moved there down part.  
	but it will work only if  |
			 										 \ /  there instead |some| will be  |message| - by naming convettion rule 
		 <% @messages.each do |some| %>
						  <div class="event">
						    <div class="content">
						      <div class="summary">
						      	<div class="ui two column grid">

						      	<div class="four wide column">
						     				<i> the <%= some.user.username %>  said :</i>
						     			</div>
						      		<div class="six wide column">
						     					<%= some.body %> 
			 								</div>


			 							</div>


			 							<p></p>
						      </div>
						    </div>
						  </div>
						<% end %>	 

																	and need to add  		<%= render @messages %>


-->

		 		<%= render @messages %>

			</div>
		</div>
		<div class="extra content">
			<form class="ui reply form">
        <div class="field">
        	  <div class="ui fluid icon input">
        	    <input type="text" placeholder="Enter your message...">
          	<i class="bordered inverted violet edit icon"></i>
        	</div>
        </div>

      </form>
		</div>
	</div>		
</div>

<div class="four wide column">
	<div class="ui card chatbox">
  		<div class="content">
			<div class="ui vertical inverted pointing menu">
			  <a class="active item">
			    Home
			  </a>
			  <a class="item">
			    Messages
			  </a>
			  <a class="item">
			    Friends
			  </a>
			</div>
		</div>
	</div>		

</div>
