<a class="active item">
  <%= link_to 'ChatROOM', root_path, class: "item"  %>
  
</a>
<a class="item">

  Messages
</a>
<div class="right menu">
  <div class="dropdown">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Account
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"><%= link_to 'ChatROOM',  root_path, class: "dropdown-item" %></a>
        
      <a class="dropdown-item"><%= link_to 'Log in',  login_path, class: "dropdown-item" %></a>
      <a class="dropdown-item" href="#">Sign up here</a>
    </div>
  </div>
  <div class="item">
      <div class="ui primary button">Sign Up</div>
  </div>
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
</div>

